# {{ ansible_managed }}
deb [arch={{ config_client_mirrors_docker_arch }} signed-by={{ config_client_mirrors_docker_signed_by }}] {{ config_client_mirrors_docker_origin }}{{ config_client_mirrors_docker_path }} {{ config_client_mirrors_docker_codename }} {{ config_client_mirrors_docker_channel }}
